<div class="ledger-sheet">
    <mat-card class="ledger-banner">
        <div class="banner-input starting">
            <input class="starting-input number-input"
                placeholder="Starting Funds" />
        </div>
        <div class="banner-input calculations">
            <input readonly class="sales-input number-input" placeholder="Total Sales" />
            <input readonly class="cost-input number-input" placeholder="Total Costs" />
            <input readonly class="profit-input number-input" placeholder="Total Profits" />
        </div>
        <div class="banner-input final-calc">
            <input readonly class="projected-input number-input" placeholder="Projected Funds" />
        </div>
    </mat-card>
</div>