.add-transaction-button {
    color: #41c55b;
    border: 2px solid #41c55b;
    background-color: white;
}

.button-gap {
    margin-bottom: 10px;
}

.header-row,
.transaction-row {
    display: flex;
}

.ledger-banner {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    box-shadow: none;
}

.middle-control {
    margin: 0px 10px;
}

.negative,
.positive {
    font-weight: bold;
}

.negative {
    color: red !important;
}

.positive {
    color: green !important;
}

.sheet-controls {
    text-align: center;
    padding: 0px 10px 10px 10px;
    background-color: white;
}

.transactions {
    box-shadow: none;
}

.transaction-body {
    width: calc(100% / 7);
    border-radius: 0px;
    display: flex;
    align-items: center;
}

.transaction-header {
    background-color: #333;
    color: white;
    width: calc(100% / 7);
    border-radius: 0px;
}

.transaction:nth-of-type(odd) {
    background-color: #d8f3dd;
}

.transaction:nth-of-type(even) {
    background-color: #ebf9ee;
}