<mat-card class="header">
    <img src="../../../assets/multitool-logo-2.png" width="250" />
    <div class="app">
        <button mat-button [matMenuTriggerFor]="appMenu">Apps</button>
        <mat-menu [class]="'app-menu'" #appMenu="matMenu">
            <xiv-app-panel *ngFor="let app of apps" [app]="app"></xiv-app-panel>
        </mat-menu>
    </div>
    <div class="profile">
        <button *ngIf="!userService.loggedIn" (click)="goToLogin()" mat-button class="account-button">Log
            In/Register</button>
        <button *ngIf="userService.loggedIn && !userService.userIcon" routerLink="/account/profile" mat-button
            class="account-button">Profile</button>
        <img height="68" class="profile-icon" *ngIf="userService.loggedIn && userService.userIcon"
            [src]="userService.userIcon" [matMenuTriggerFor]="menu" />
        <mat-menu [class]="'profile-menu'" #menu="matMenu">
            <button mat-menu-item routerLink="/account/profile">
                <span>View Profile</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
</mat-card>