<mat-card class="header">
    <div class="logo-app">
        <h2>XIV</h2>
        <div class="vl"></div>
        <xiv-app-selector [apps]="apps"></xiv-app-selector>
    </div>
    <div class="profile">
        <button *ngIf="!userService.loggedIn" routerLink="/account/login" mat-button class="acct-button">Log
            In/Register</button>
        <button mat-icon-button *ngIf="userService.loggedIn && !userService.userIcon" mat-button
            class="account-button" [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <img height="68" class="profile-icon" *ngIf="userService.loggedIn && userService.userIcon"
            [src]="userService.userIcon" [matMenuTriggerFor]="menu" />
        <mat-menu [class]="'profile-menu'" #menu="matMenu">
            <button mat-menu-item routerLink="/account/profile">
                <span>View Profile</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <span>Logout</span>
            </button>
        </mat-menu>
    </div>
</mat-card>