h3 {
    text-align: center;
}

.login{
    display: flex;
    width: 100%;
    height: calc(100% - 101px);
}

.label {
    color: white;
    border-radius: 5px 0px 0px 5px;
}

.label,
.value {
    padding: 10px;
    font-weight: bold;
}

.display-card {
    display: inline-flex;
    padding: 0px;
    font-size: 16px;
    border-radius: 5px;
}

.control {
    color: white;
    border-radius: 0px 5px 5px 0px;
}

.value {
    margin: auto;
}

.save-button {
    width: 100%;
}

.section {
    padding: 10px 0px;
}

mat-form-field {
    width: 100%;
}

.titled-card {
    margin: auto auto;
    width: 400px;
}