<div class="add-transaction">
    <div class="row">
        <mat-form-field class="select-field" [ngClass]="{'select-field-none': transactionType === 0, 'select-field-selected': transactionType > 0}" appearance="outline">
            <mat-label>Transaction Type</mat-label>
            <mat-select [value]="transactionType" (selectionChange)="transactionType = $event.value">
                <mat-option value="1">Market Transaction</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="input-field" appearance="outline">
            <mat-label>Transaction Name</mat-label>
            <input [value]="name" matInput (input)="name = $event.target.value" />
        </mat-form-field>
    </div>
    <div class="flex-row row" *ngIf="transactionType == 1">
        <mat-form-field class="cost-field" appearance="outline">
            <mat-label>Cost</mat-label>
            <input [value]="cost" matInput type="number" (input)="cost = $event.target.value" />
        </mat-form-field>        
        <mat-form-field class="cost-field" appearance="outline">
            <mat-label>Sold For</mat-label>
            <input [value]="sold" matInput type="number" (input)="sold = $event.target.value" />
        </mat-form-field>
    </div>
    <div class="flex-row row">
        <mat-form-field class="cost-field" appearance="outline">
            <mat-label>Date Listed</mat-label>
            <input [value]="dateListed" matInput type="date" />
        </mat-form-field>        
        <mat-form-field class="cost-field" appearance="outline">
            <mat-label>Date Sold</mat-label>
            <input [value]="dateSold" matInput type="date" />
        </mat-form-field>
    </div>
    <div class="flex-row row">
        <button class="add-button" (click)="submit()" mat-button>
            Submit
        </button>
        <button class="cancel-button" mat-button>
            Cancel
        </button>
    </div>
</div>
