.contents {
    height: 40px;
    width: 100%;
    align-items: center;
    padding: 0px 5px;
    display: flex;
}

.main-contents {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.name {
    font-size: 13pt;
    font-weight: bold;
}