.add-retainer-button {
    color: #41c55b;
    border: 2px solid #41c55b;
    background-color: white;
    margin-top: 15px;
}

.empty-card {
    text-align: center;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lodestone-section,
.account-section {
    padding-bottom: 20px;
}

.retainer-card {
    text-align: center;
    min-width: 330px;
    max-width: 330px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.retainer-cards {
    display: flex;
    flex-wrap: wrap;
}

.row {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    color: white;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0px;
}