.app-selector {
    height: 70px;
}

button {
    font-size: 32pt;
    font-weight: bold;
    font-family: 'Monda';
    padding: 10px;
    margin-top: 7px;
}

.multitool {
    color: #7f98cd !important;
}

.ledger {
    color: #abebbc !important;
}

.checklist {
    color: #dde88e !important;
}