/* You can add global styles to this file, and also import other style files */
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$XIVMultitool-primary: mat-palette($mat-indigo);
$XIVMultitool-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$XIVMultitool-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$XIVMultitool-theme: mat-light-theme($XIVMultitool-primary, $XIVMultitool-accent, $XIVMultitool-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($XIVMultitool-theme);

.banner.untracked {
    background-color: #d1d1d1;
}

.banner.blue {
    background-color: rgb(0, 0, 200);
}

.banner.red {
    background-color: rgb(200, 0, 0);
}

.banner.green {
    background-color: rgb(0, 200, 0);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #e6e6e6; }

.complete .mat-checkbox-inner-container {
    height: 28px !important;
    width: 28px !important;
}

.complete .mat-checkbox-frame,
.complete .mat-checkbox-background {
    background-color: green;
    border-color: #4769b3;
}

.complete .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: green !important;
}

.mat-expansion-indicator {
    display: none !important;
}

.mat-expansion-panel-header {
    height: 40px !important;
}

.viewport .cdk-virtual-scroll-content-wrapper {
    max-width: 1500px !important;
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)) !important;
}

.check .mat-button-toggle-button {
    background-color: #ebffe6;
    color: #bfbfbf;
}

.check.mat-button-toggle-checked .mat-button-toggle-button {
    background-color: #24b300 !important;
    color: white !important;
}

.clear .mat-button-toggle-button {
    background-color: #f2f2f2;
    color: #bfbfbf;
}

.clear.mat-button-toggle-checked .mat-button-toggle-button {
    background-color: #bfbfbf !important;
    color: white !important;
}

.untrack .mat-button-toggle-button {
    background-color: #ffe6e6;
    color: #bfbfbf;
}

.untrack.mat-button-toggle-checked .mat-button-toggle-button {
    background-color: #ff4d4d !important;
    color: white !important;
}

.task .button-group {
    border-radius: 0px !important;
    position: absolute;
    right: -1px;
}

.button-group .mat-button-toggle-label-content {
    line-height: 40px !important;
}

.ledger-tabs .mat-tab-header {
    background-color: #41c55b;
    height: 48px;
}

.ledger-tabs .mat-tab-label {
    color: white !important;
    opacity: 1 !important;
}

.add-transaction .select-field .mat-form-field-flex {
    height: 40px;
}

.add-transaction .select-field-none  .mat-form-field-infix {
    border: 0;
    padding: 1em 0 0 0;
}

.add-transaction .select-field-selected .mat-form-field-infix {
    padding-top: 4px;
}

.add-transaction .select-field .mat-form-field-appearance-outline {
    transform: none !important;
}

.add-icon-button {
    width: 93px !important;
    height: 93px !important;
    color: #333;

    .mat-icon {
        line-height: 93px !important;
        font-size: 93px !important;
        height: 93px !important;
        width: 93px !important;
    }
}

.app-menu {
    min-width: 350px !important;
    max-width: 350px !important;
}

.app-menu .app-card {
    margin: 15px auto !important;
}

.positive-button {
    color: #41c55b;
    border: 2px solid #41c55b !important;
    background-color: white;
}
